header{
    width: 100%;
}

.title{
    text-align: center;
}

.date, .author{
    text-align: left;
    color: grey;
    padding: 1em;
}

.featured-image{
    width: 100%;
}

.blog-content{
        margin: auto;
        width: 50%;
        padding: 3em;
}
