header{
    width: 100%;
}

.title{
    text-align: center;
}

.date{
    margin: auto;
    width: 50%;
    padding: 3em;
    color: grey;
}

.featured-image{
    width: 100%;
}

.blog-content{
    margin: auto;
    width: 50%;
    padding: 3em;
}

/* Navbar styling */

.current{
    color:red;
}

.content{
    padding-top: 2em;
}