header{
    width: 100%;
}

.title{
    text-align: center;
}

.date{
    margin: auto;
    width: 50%;
    padding: 3em;
    color: grey;
}

.featured-image{
    width: 100%;
}

.blog-content{
    margin: auto;
    width: 50%;
    padding: 3em;
}

/* Navbar styling */

.current{
    color:red;
}

.content{
    padding-top: 2em;
}

header {  
    background-color: teal;  
    position: fixed;  
    left: 0;  
    right: 0;  
    top: 0px;  
    height: 50px;  
    display: flex;  
    align-items: center;  
    box-shadow: 0 0 25px 0 black;  
    font-size: 20px;
    }  

header * {  
    display: inline;  
}  

header li {  
    margin: 20px;  
}  

header li a {  
    color: rgb(255, 255, 255);  
    text-decoration: none;  
}  

header li a:hover{
    background-color: #FFD572;
    color: #061e56;
}

header li a.active{
    background-color: bisque;
    color: rgb(0, 0, 95);
}